.intro-message {
	text-align: left;
	padding-top: 10% ;
	padding-bottom:63%;
	padding-left: ;
	color: #925F5F;
	font-family: "Bauhaus 93"
}

body {
	background: url(cityBike.jpg) no-repeat center;
}
.signup-form {color:#4F3C3C;}

