.intro-message {
	text-align: left;
	padding-top: 10% ;
	padding-bottom: 2%;
	padding-left:1% ;
	color: #925F5F;
	font-family: "Bauhaus 93"
}

body {
	background: url(cityBike.jpg) no-repeat center;
}
p {font-size:54px;}

.signup-form {color:#4F3C3C;}

